{% extends "basic-template.html" %}
{% block title %} Dichotomy method {% endblock %} 


{% block content %}
<div class="container mt-4">
    <p>
        Dichotomy (or Bisection) method is a root-finding method. You can use it only for continuous functions on the segment
        with opposite signs on the ends of this segment. In the form below you have to set the function <strong>f(x)</strong>,
        bounds of segment <strong>[A; B]</strong> and the <strong>&epsilon;</strong> - desirable precision.
    </p>
    <p>
        You can only use the following list of <i>unary</i> functions:
        <strong>abs, arccos, arcsin, cbrt, cos, exp, log, log10, log1p, max, min, sin, sgn, sqrt, tan.</strong>
        Also there are couple of <i>binary</i> functions: <strong>arctan2, hypot, pow.</strong>
        And of course, you can use all "classical" arithmetic operations.
    </p>
    <p>
        Have fun!
    </p>

    <div class="container rounded border calc-card">
        <div class="row border rounded">
                <div class="col-md-6 pt-1 text-center bg-dark rounded-left">
                    <form class="mt-2 text-white px-3">
                        <div class="row">
                            <label for="function" class="col-md-2 mt-2 col-md-smallpad">f(x) =</label>
                            <input type="text" class="form-control col-md-10" id="function" placeholder="f(x)" value="x*x + 4 * sin(x)">
                        </div>
                        <div class="row mt-1">
                            <label for="left_bound" class="col-md-2 mt-2 col-md-smallpad">A =</label>
                            <input type="number" step="0.000001" class="form-control col-md-4 col-md-smallpad" id="left_bound" placeholder="A" value="-1.5">
                            <label for="right_bound" class="col-md-2 mt-2 col-md-smallpad">B =</label>
                            <input type="number" step="0.000001" class="form-control col-md-4" id="right_bound" placeholder="B" value="5">
                        </div>
                        <div class="row mt-1">
                            <label for="epsilon" class="col-md-2 mt-2 col-md-smallpad">&epsilon; =</label>
                            <input type="number" step="0.000001" class="form-control col-md-4 mb-2" id="epsilon" placeholder="&epsilon;" value="1e-5">
                            <div class="col-md-6 ">
                                <button type="button" onclick="solve()" class="btn btn-primary mb-2" style="width:100%">Calculate</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="illustration" class="col-md-6 text-center bg-light rounded-right"
                style="min-height: 250px">
                </div>
        </div>
        <div class="row bg-white rounded-bottom py-2 px-4">
            <h5 class="text-center w-100">
                <strong> Solution:
                </strong> 
                <label id="solution_text" class="mb-0"></label> 
            </h5>
        </div>
    </div>
    <script type="text/javascript" language="JavaScript">
        function get_form_and_img_data(){
            var data = {}
            
            data.fun_encoded = encodeURIComponent(
                document.getElementById("function").value
            )
            data.left_bound = document.getElementById("left_bound").value
            data.right_bound = document.getElementById("right_bound").value
            data.epsilon = document.getElementById("epsilon").value

            data.width = document.getElementById("illustration").clientWidth
            data.height = document.getElementById("illustration").clientHeight
            return data;
        }
        function set_bg_image(){
            var data = get_form_and_img_data()
            var url = "/api/dichotomy-method/img" 
            + `?f=${data.fun_encoded}`
            + `&left_bound=${data.left_bound}`
            + `&right_bound=${data.right_bound}`
            + `&eps=${data.epsilon}`
            + `&h=${data.height}`
            + `&w=${data.width}`
            console.log(url)

            document.getElementById("illustration").style.backgroundImage = `url('${url}')`
        }
        function put_answer(){
            data = get_form_and_img_data()

            var Http = new XMLHttpRequest();
            var url = "/api/dichotomy-method/ans" 
            + `?f=${data.fun_encoded}`
            + `&left_bound=${data.left_bound}`
            + `&right_bound=${data.right_bound}`
            + `&eps=${data.epsilon}`
            console.log(url)

            Http.open("GET", url);
            Http.onreadystatechange = (e) => {
                document.getElementById("solution_text").innerText = Http.responseText
            }
            Http.send();
        }
        function solve(){
            put_answer()
            set_bg_image()
        }

        window.onresize = set_bg_image()

        solve()
    </script>
</div>
{% endblock %}