{% extends "basic-template.html" %}
{% block title %} Fixed-point iteration {% endblock %}


{% block content %}
<div class="container mt-4">
    <p>
        Fixed-point iteration is a method of computing fixed points of iterated functions. In other words, it can be
        applied for finding <strong>x</strong> that satisfies <strong>&phi;(x) = x</strong>.
        In context of root-finding algorithms, we can fixed-point iteration using simple approximation.

        <br>
        Let
        <strong>&phi;(x) = x + &lambda;(x) * f(x)</strong> where <strong>f(x)</strong> - function, which root we want
        to find, <strong>&lambda;(x)</strong> - function that has no roots on segment. Now we can apply fixed-point
        iteration to find fixed point of <b>&phi;(x)</b>, which also will be the root of <b>f(x)</b>.
    </p>
    <p>
        It is justified to set <b>&lambda;(x) = 1 / f'(x)</b>. In this case we would have Newton's method which is
        quite fast, but require to calculate the derivative.
        The other option is to take <b>&lambda;(x) = 1 / f'(x<sub>0</sub>)</b>. But feel free to make some experiments.
    </p>

    <p>
        You can only use the following list of <i>unary</i> functions:
        <strong>abs, arccos, arcsin, cbrt, cos, exp, log, log10, log1p, max, min, sin, sgn, sqrt, tan.</strong>
        Also there are couple of <i>binary</i> functions: <strong>arctan2, hypot, pow.</strong>
        And of course, you can use all "classical" arithmetic operations.
    </p>
    <p>
        Have fun!
    </p>

    <div class="container rounded border calc-card">
        <div class="row border rounded">
                <div class="col-md-6 pt-1 text-center bg-dark rounded-left">
                    <form class="mt-2 text-white px-3">
                        <div class="row">
                            <label for="function" class="col-md-2 mt-2 col-md-smallpad">&phi;(x) = x + </label>
                            <input type="text" class="form-control col-md-4" id="lambda" placeholder="&lambda;(x)" value="1 / (2*5 + 4 * cos(6))">
                            <label for="lambda" class="col-md-1 mt-2"> * </label>
                            <input type="text" class="form-control col-md-5" id="function" placeholder="f(x)" value="x*x + 4 * sin(x)">
                        </div>
                        <div class="row mt-1">
                            <label for="left_bound" class="col-md-2 mt-2 col-md-smallpad">A =</label>
                            <input type="number" step="0.000001" class="form-control col-md-4 col-md-smallpad" id="left_bound" placeholder="A" value="-5">
                            <label for="right_bound" class="col-md-2 mt-2 col-md-smallpad">B =</label>
                            <input type="number" step="0.000001" class="form-control col-md-4" id="right_bound" placeholder="B" value="5">
                        </div>
                        <div class="row mt-1">
                            <label for="itercount" class="col-md-6 mt-2 col-md-smallpad">Count of iterations = </label>
                            <input type="number" step="1" class="form-control col-md-6 mb-2" id="itercount" placeholder="Count of iterations" value="100">
                        </div>
                        <div class="row mt-1">
                            <label for="x_0" class="col-md-2 mt-2 col-md-smallpad">x<sub>0</sub> = </label>
                            <input type="number" step="1" class="form-control col-md-6 mb-2" id="x_0" placeholder="Starting value of x" value="4">
                            <label for="tracing" class="col-md-1 mt-2">Tracing</label>
                            <input type="checkbox" class="col-md-2 mt-3" id="tracing" checked>
                        </div>

                        <div class="row mt-1">
                            <div class="col-md-6 ">
                                <button type="button" onclick="solve()" class="btn btn-primary mb-2" style="width:100%">Calculate</button>
                            </div>
                        </div>


                    </form>
                </div>
                <div id="illustration" class="col-md-6 text-center bg-light rounded-right"
                style="min-height: 250px">
                    <button onclick="show_large_illustration()" type="button" class="btn btn-default border bg-white float-right mt-2" data-toggle="modal" data-target=".bd-example-modal-sm"> Fullscreen </button>

                    <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-lg" id="large_illustration_holder">
                        <div class="modal-content" >
                          <img id="large_illustration" width="100%">
                        </div>
                      </div>
                    </div>
                </div>
        </div>
        <div class="row bg-white rounded-bottom py-2 px-4">
            <h5 class="text-center w-100">
                <strong> Solution:
                </strong> 
                <label id="solution_text" class="mb-0"></label> 
            </h5>
        </div>
    </div>
    <script type="text/javascript" language="JavaScript">
        function get_form_and_img_data(){
            var data = {}

            data.fun_encoded = encodeURIComponent(
                document.getElementById("function").value
            )
            data.lambda_encoded = encodeURIComponent(
                document.getElementById("lambda").value
            )

            data.left_bound = document.getElementById("left_bound").value
            data.right_bound = document.getElementById("right_bound").value
            data.iter_count = document.getElementById("itercount").value

            data.x0 = document.getElementById("x_0").value
            data.tracing = document.getElementById("tracing").checked ? 1 : 0

            data.width = document.getElementById("illustration").clientWidth
            data.height = document.getElementById("illustration").clientHeight
            return data;
        }
        function set_bg_image(){
            var data = get_form_and_img_data()
            var url = "/api/fixed-point-iteration/img"
            + `?f=${data.fun_encoded}`
            + `&lamb=${data.lambda_encoded}`
            + `&left_bound=${data.left_bound}`
            + `&right_bound=${data.right_bound}`
            + `&iter_count=${data.iter_count}`
            + `&x0=${data.x0}`
            + `&tracing=${data.tracing}`
            + `&h=${data.height}`
            + `&w=${data.width}`

            document.getElementById("illustration").style.backgroundImage = `url('${url}')`
        }
        function put_answer(){
            data = get_form_and_img_data()

            var Http = new XMLHttpRequest();
            var url = "/api/fixed-point-iteration/ans"
            + `?f=${data.fun_encoded}`
            + `&lamb=${data.lambda_encoded}`
            + `&left_bound=${data.left_bound}`
            + `&right_bound=${data.right_bound}`
            + `&iter_count=${data.iter_count}`
            + `&x0=${data.x0}`

            console.log(url)

            Http.open("GET", url);
            Http.onreadystatechange = (e) => {
                document.getElementById("solution_text").innerText = Http.responseText
            }
            Http.send();
        }

        function show_large_illustration(){

            w = Math.floor(window.innerWidth / 1.5)
            h = Math.floor(window.innerHeight - 30)

            var data = get_form_and_img_data()
            var url = "/api/fixed-point-iteration/img"
            + `?f=${data.fun_encoded}`
            + `&lamb=${data.lambda_encoded}`
            + `&left_bound=${data.left_bound}`
            + `&right_bound=${data.right_bound}`
            + `&iter_count=${data.iter_count}`
            + `&x0=${data.x0}`
            + `&tracing=${data.tracing}`
            + `&h=${h}`
            + `&w=${w}`


            pic = document.getElementById("large_illustration")
            pic.src = url
        }

        function solve(){
            put_answer()
            set_bg_image()
        }
        show_large_illustration()

        window.onresize = set_bg_image()

        solve()
    </script>
</div>
{% endblock %}