{% extends "basic-template.html" %}
{% block title %} Runge-Kutta method {% endblock %}


{% block content %}
<div class="container mt-4">
    <p>
        Runge-Kutta method for solving Cauchy's problem.
    </p>

    <p>
        Consider we have Cauchy's problem with statements:
        $ y' = f(x, y)$
        with known $y(x_0) = y_0$
    </p>

    <p>
        You can only use the following list of <i>unary</i> functions:
        <strong>abs, arccos, arcsin, cbrt, cos, exp, log, log10, log1p, max, min, sin, sgn, sqrt, tan.</strong>
        Also there are couple of <i>binary</i> functions: <strong>arctan2, hypot, pow.</strong>
        And of course, you can use all "classical" arithmetic operations.
    </p>
    <p>
        $N$ stands for count of breakpoints.<br>
        You can compare the result with expected (if you have any) by setting <b>expeced y(x)</b>
        <br>
        Have fun!
    </p>

    <div class="container rounded border calc-card">
        <div class="row border rounded">
                <div class="col-md-6 pt-1 text-center bg-dark rounded-left">
                    <form class="mt-2 text-white px-3">
                        <div class="row">
                            <label for="function" class="col-md-3 mt-2 col-md-smallpad">x' = rabbits' = </label>
                            <input type="text" class="form-control col-md-6" id="function" placeholder="f(x, y)" value="2*x - 2 * x * y">
                        </div>
                        <div class="row">
                            <label for="function" class="col-md-3 mt-2 col-md-smallpad">y' = foxes' = </label>
                            <input type="text" class="form-control col-md-6" id="function_g" placeholder="g(x, y)" value="x * y - 1.5 * y">
                        </div>


                        <div class="row mt-1">
                            <label for="left_bound" class="col-md-2 mt-2 col-md-smallpad">A =</label>
                            <input type="number" step="0.000001" class="form-control col-md-4 col-md-smallpad" id="left_bound" placeholder="A" value="0" readonly>
                            <label for="right_bound" class="col-md-2 mt-2 col-md-smallpad">B =</label>
                            <input type="number" step="0.000001" class="form-control col-md-4" id="right_bound" placeholder="B" value="20">
                        </div>
                        <div class="row mt-1">
                            <label for="x0" class="col-md-2 mt-2 col-md-smallpad">x(0) =</label>
                            <input type="number" step="0.000001" class="form-control col-md-4 col-md-smallpad" id="x0" placeholder="x0" value="1.2">
                            <label for="y0" class="col-md-2 mt-2 col-md-smallpad">y(0) =</label>
                            <input type="number" step="0.000001" class="form-control col-md-4" id="y0" placeholder="y0" value="1">
                        </div>
                        <div class="row mt-1">
                            <label for="g_const" class="col-md-2 mt-2 col-md-smallpad">g =</label>
                            <input type="number" step="0.000001" class="form-control col-md-4 col-md-smallpad" id="g_const" placeholder="g_const" value="9.8">
                            <label for="l_const" class="col-md-2 mt-2 col-md-smallpad">l =</label>
                            <input type="number" step="0.000001" class="form-control col-md-4" id="l_const" placeholder="l_const" value="1">
                        </div>
                        <div class="row mt-1">
                            <label for="N" class="col-md-3 mt-2 col-md-smallpad">N = </label>
                            <input type="number" step="1" class="form-control col-md-3 mb-2" id="N" placeholder="count_of_segments" value="400">
                        </div>

                        <div class="row mt-1">
                            <div class="col-md-6 ">
                                <button type="button" onclick="solve()" class="btn btn-primary mb-2" style="width:100%">Calculate</button>
                            </div>
                        </div>


                    </form>
                </div>
                <div id="illustration" class="col-md-6 text-center bg-light rounded-right"
                style="min-height: 250px">
                    <button onclick="show_large_illustration()" type="button" class="btn btn-default border bg-white float-right mt-2" data-toggle="modal" data-target=".bd-example-modal-sm"> Fullscreen </button>

                    <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-lg" id="large_illustration_holder">
                        <div class="modal-content" >
                          <img id="large_illustration" width="100%">
                        </div>
                      </div>
                    </div>
                </div>
        </div>
        <div class="row bg-white rounded-bottom">
           <!-- <canvas id="pendulum-anim" width="330px" height="330px" style='border:1px solid black'></canvas> -->
        </div>
    </div>
    <script type="text/javascript" language="JavaScript">
        function get_form_and_img_data(){
            var data = {};

            data.fun_encoded = encodeURIComponent(
                document.getElementById("function").value
            );
            data.fun_g_encoded = encodeURIComponent(
                document.getElementById("function_g").value
            );

            data.left_bound = document.getElementById("left_bound").value;
            data.right_bound = document.getElementById("right_bound").value;
            data.N = document.getElementById("N").value;
            data.x0 = document.getElementById("x0").value;
            data.y0 = document.getElementById("y0").value;

            data.tracing = 1;

            data.width = document.getElementById("illustration").clientWidth;
            data.height = document.getElementById("illustration").clientHeight;
            data.l_const = document.getElementById("l_const").value;
            data.g_const = document.getElementById("g_const").value;
            return data;
        }
        function set_bg_image(){
            var data = get_form_and_img_data();
            console.log(data);
            var url = "/api/runge-kutta-foxes-and-rabbits/img"
            + `?f=${data.fun_encoded}`
            + `&g=${data.fun_g_encoded}`
            + `&l_const=${data.l_const}`
            + `&g_const=${data.g_const}`
            + `&left_bound=${data.left_bound}`
            + `&right_bound=${data.right_bound}`
            + `&N=${data.N}`
            + `&x0=${data.x0}`
            + `&y0=${data.y0}`
            + `&tracing=${data.tracing}`
            + `&h=${data.height}`
            + `&w=${data.width}`;

            document.getElementById("illustration").style.backgroundImage = `url('${url}')`
        }
        function show_large_illustration(){

            w = Math.floor(window.innerWidth / 1.5);
            h = Math.floor(window.innerHeight - 30);

            var data = get_form_and_img_data();
            var url = "/api/runge-kutta-foxes-and-rabbits/img"
            + `?f=${data.fun_encoded}`
            + `&g=${data.fun_g_encoded}`
            + `&l_const=${data.l_const}`
            + `&g_const=${data.g_const}`
            + `&left_bound=${data.left_bound}`
            + `&right_bound=${data.right_bound}`
            + `&N=${data.N}`
            + `&x0=${data.x0}`
            + `&y0=${data.y0}`
            + `&tracing=${data.tracing}`
            + `&h=${data.height}`
            + `&w=${data.width}`;


            pic = document.getElementById("large_illustration");
            pic.src = url
        }

        function solve(){
            set_bg_image()
        }
        show_large_illustration()

        window.onresize = set_bg_image()

        solve()

    </script>
</div>
{% endblock %}